<div class="cover">
  <div class="cover-inner">
    <div class="cover-contents">
      <h1>自分だけの「マイナーな場所」を発信する</h1>
      <%= link_to 'マイ・ナ・プレイスを始める！' , login_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>

<%# render 'items/list' , items: @items %>
