<div class="container">
  <div class="container-inner inner-default clearfix">
    <% places.each do |place| %>
      <div class="item-box">
        <div class="image">
          <div class="img-wrap">
            <%#= binding.pry %>
            <% if place.photo.url.present? %>
              <%= image_tag(place.photo.url , alt: place.name) %>
            <% else %>
              <%= image_tag("no-image.png" , alt: place.name) %>
            <% end %>
          </div>
        </div>
        <div class="detail">
          <p class="name">
            <%= place.name %>
          </p>
        </div>
        <%= render 'places/action' , place: place if logged_in? %>
      </div>
    <% end %>
  </div>
</div>
