<div class="row">
  <div class="col-md-6">
    <%= render 'place_form' %>
  </div>
  <div class="col-md-6">
    <div class="box">
      <div class="box-inner">
        <div class="map_container">
          <div id="map" class="map_canvas"></div>
        </div>
      </div>
    </div>
  </div>
</div>
