<div class="row">
  <div class="col-md-6">
    <%= render 'place_form' %>
  </div>
  <div class="col-md-6">
    <div class="box">
      <div class="box-inner">
        <div class="map_container">
          <div id="map" class="map_canvas"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript"> 
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%= raw(@hash.to_json) %>, { draggable: true});
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
 //handler.bounds.extendWith(markers);
//  handler.bounds.extendWith(pmarker);
  //handler.fitMapToBounds();
  google.maps.event.addListener(markers[0].serviceObject, 'dragend', function() {
    updateFormLocation(this.getPosition());
  });
});
function updateFormLocation(latLng) {
  $('#latitude').val(latLng.lat());
  $('#longitude').val(latLng.lng());
}
</script>  
